*.iml
.externalNativeBuild
.github
.idea
SumerianARCoreStarter/.gradle
SumerianARCoreStarter/.idea
SumerianARCoreStarter/build
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
